---
import Welcome from '../components/welcome.astro'
import Readme from '../components/readme.md'
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<div class='my-8'>
		<Welcome />
		<div class='content max-w-3xl mx-auto mt-10'>
			<Readme />
		</div>
	</div>
</Layout>
